################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WPFScript/.vs/WPFScript/FileContentIndex/246162c5-e141-4dc1-bf4e-287a617f3d7a.vsidx
/WPFScript/.vs/WPFScript/FileContentIndex/28376327-4dab-4737-8273-475d8a8f8d69.vsidx
/WPFScript/.vs/WPFScript/FileContentIndex/595921dd-eab4-4cd6-a688-ce7f9cbf6804.vsidx
/WPFScript/.vs/WPFScript/FileContentIndex/92d4315c-0900-43f6-a60a-18ce6fa1929c.vsidx
/WPFScript/.vs/WPFScript/FileContentIndex/a9ebce8f-ec2d-463d-8a27-cf1def865a6b.vsidx
